<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Caja</title>

    {% include "componentes/_bootstrap.html" %}
</head>
<body>
    <h1>Registrar Caja</h1>

    <div class="container w-50">
        <form method="POST">

            <label for="selectorSucursal" class="form-label">Seleccionar Sucursal</label>
            <select id="selectorSucursal" name="selectorSucursal" class="form-select">
                <!-- las opciones se cargan desde selectores.js -->
            </select>    

            <label for="selectorCAja" class="form-label">Seleccionar Caja</label>
            <select id="selectorCaja" name="selectorCaja" class="form-select">
                <!-- las opciones se cargan desde selectores.js -->
            </select>  

            <label for="inputPin" class="form-label">IngresarPin</label>
            <input type="password" name="inputPin" id="inputPin" class="form-control">

            <input type="submit" class="btn btn-primary" value="Ingresar">
        </form>
    </div>
    
    <!-- div datos de selectores -->
    <div id="selectores-data" data-selectores='{{ selectores|tojson }}'></div>

    <script src="static/acceso/selectores.js"></script>

</body>
</html>